

.first-div-cata{
    width: 100%;
    /* background-color:rgb(39, 40, 41) ; */
}



.title{
    width: 100%;
    padding-top: 100px;
    display: flex;
justify-content:center ;



}

h3{
    font-weight: bold;
    font-size: 35px;
}

.filter{

    font-size: 30px;
   
    }

    .icons{
        display: flex;
        justify-content: end;
        margin-right: 10%;
        
    }

    .p{
        color: red;
    }

    a{
        text-decoration: none;
        color: black;
    }


    .filtermenu-gen{
        width: 200px;
        height: 150px;
        background-color: rgb(248, 246, 244);
        position: absolute;
        right: 60px;
        
        border-radius: 10px;
        border: solid 2px gainsboro;
        cursor: pointer;
    }


  @media (max-width:600px){
   
    .filtermenu{

          right: 20px;


    }
  }













.serchbarmain{
    width: 100%;
    height:60px ;
    
    
    display: flex;
    justify-content:center ;
    

   
     
     
}


 .serchbarmain input{
   
    width: 50%;
    margin-top: 15px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    border: solid 3px rgba(217, 223, 218, 0.708);
    background-color: rgba(199, 199, 199, 0.858);
    
  
} 



   .items-disply-box{

        width: 100%;
        /* background-color: rgb(243, 253, 232); */

        
        margin-top: 20px;
       /* border: solid 2px rgb(9, 9, 9); */
        display: flex;
        flex-wrap: wrap;
        
      
} 


.main-edu{

    width: 205px;
    height: 250px;
   border:  2px solid rgb(214, 213, 213);
    border-radius: 8px;
  /* margin-right: 10px;  */
   /* margin-top: 10px; */
  /* padding-bottom: 0;  */
  margin: 5px;
  background-color: white;
 
 
   
   
  }
  
  .img-edu{
      width: 100%;
      height: 150px;
     

  }  

  .drop-btn{

   background-color: white;
    border: none;
    z-index: -1;
   

  }

  .drop-menu {background-color: rgb(252, 253, 253);
           width: 10px;
        
        
        
   }

   .span{
    font-size: 25px;
    color: black;
   }
      

      
  
  
  .item-img-edu{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 10px;
      
  
  }
  
  
  .text{
  
      width: 100%;
     
      margin-top: 2px;
      
     
     
     
  
  }
  
  .text h5{
      margin-top: 0;
      text-align: center;
      margin-bottom: 0;
     
  }
  
  .text p{
      margin-left: 3px;
     
  } 

  
 



  @media (max-width:444px){

    .main-edu{
        width:46.333%;
        height: 250px;
    }

    .serchbarmain input{
        width: 300px;
        margin-left: 20px;

    }


}

.loding-cata{
    width: 100%;
    height: 50vh;
    /* background-color: aqua; */
    /* padding-top: 100px; */
 
    display: flex;
    justify-content: center;
    align-items: center;
}


.empty-catg{

    width: 100%;
    height: 300px;
  
    display: flex;
    justify-content: center;
    align-items: center;

}

.empty-img{

    width: 250px;
    height: 250px;

}

.loging-img-cata{

    width: 200px;
    height: 200px;


}

.span-rating{

    font-weight: bold;
    margin-left: 5px;

}


