
.admin-main{

    width: 100%;
    height: 150vh;
   padding-top: 80px;
   /* background-color: rgb(24, 61, 61); */
   background-color: rgb(92, 131, 116);
 

}

.loding-pro-admin{

    width: 100%;
    height: 100vh;
    padding-top: 300px;
    display: flex;
    justify-content: center;


    
   
   

}

.loding-gif-pro-admin{

    width: 200px;
    height: 200px;
}


.title-adimn{
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   letter-spacing: 2px;
   color: white;
}

.add-pro-admin{

    margin-left: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}



.paginationBttns{

    width: 90%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}


.paginationBttns a{

    /* padding: 2px; */
    padding-left: 5px;
    padding-right: 5px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
    text-decoration: none;
   
}

.paginationBttns a:hover{

    color: white;
    background-color: #2b2eff;

}

.paginationActive a {

    color: white;
    background-color: #2b2eff;



}

.img-admin{

    width: 50px;
    height: 50px;
}

.th-admin{
    text-align: center;
    font-size: 18px;
}

.td-admin{

    text-align: center;
   
}

.edit-admin{

    font-size: 25px;
    color: green

}

.delete-admin{
    font-size: 20px;
    color: red;
}


.view-btn-admin{

    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.tr-admin{

    margin-bottom: 10px;
}