






.items-disply-box-oneview{

    width: 100%;
    
   padding-top: 100px;
    display: flex;
   justify-content: center;
   background-color: rgb(241, 239, 239);
   
   
    
  
} 


.main-oneview{

width: 500px;
height: 530px;
border: solid 2px rgb(165, 162, 162);
 border-radius: 10px;
margin-right: 10pxpx;
margin-top: 10px;
padding-bottom: 0;
margin: 5px;
margin-top: 10px;
background-color: white;




}

.img-oneview{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;

}  
  
  


.item-img-oneview{
  width: 50%;
  height: 100%;
  padding-top: 10px;
  /* margin-left: 10px; */
 

}

.text-oneview{

  width: 100%;
 margin-top: 2px;
 text-align: center;
 
  
 }

.buttons-oneview{
  
    display: flex;
    justify-content: space-around;
   
}

/* button{
    width: 150px;
    margin-top: 15px;
    border-radius: 10px;
} */

.btn1-oneview{
    width: 150px;
    height: 40px;
    /* margin-top: 15px; */
    border-radius: 10px;
    background-color: rgba(238, 224, 37, 0.903);
    color: black;
    font-size: 20px;
    border: none;
    transition: 0.5s ease-in-out;
}
.btn2-oneview{
    width: 150px;
    height: 43px;
    /* margin-top: 15px; */
    border-radius: 10px;
    background-color: rgb(25, 25, 220);
    color: white;
    font-size: 20px;
    border: none;
    transition: 0.5s ease-in-out;
}

.btn1-oneview:hover{
    background-color: aliceblue;
}
.btn2-oneview:hover{
    background-color: aliceblue;
    color: black;
}




.subitem-main-oneview{
    width: 100%;
    display: flex;
   justify-content: space-evenly;
    flex-wrap: wrap;
    
  
   
}

.subitems-oneview{
    width: 200px;
  
    height:250px;
    margin: 5px;
    border: solid 2px rgba(112, 110, 110, 0.895);
    border-radius: 10px;
    
 
    
}


@media (max-width:444px){

    .subitems-oneview{
        width:46.333%;
        height: 250px;
       
       
       
    }


}

.sub-img-oneview{
    margin: 0;
    width: 100%;
    height: 130px;
   
    padding: 10px;
}

.simg-oneview{
    margin: 0;
    width: 100%;
    height: 100%;
}

.subitems-oneview h5{
    text-align: center;

}
.subitems-oneview p{
    text-align: center;
}

.h4-oneview{
    position: relative;
    left: 10px;
    
    color: rgb(7, 55, 159);
}







.loding-oneview{

  width: 100%;
  height: 100vh;
  
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.loding-img-oneview{

    width: 200px;
    height: 200px;

}

.rating-one{
    
    font-weight: bold;
    margin-left:10px;
}

.span-rating{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}








