




.deli-moreview{

     width: 100%;
     height: 300px;
     /* background-color: aqua; */
     
     padding-top: 100px;
}
.title-moreview{
    font-size: 25px;
    margin-left: 10px;
}

.p-address{

    margin-left: 20px;
}

.del-span{
    color: blue;
}





.main-moreview{

 width: 100%;
 
  /* padding-top: 100px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 



}

.title-2-more{
    text-align: center;
    margin-bottom: 50px;
}



.itembox-moreview{
    width: 400px;
    height: 160px;
    display: flex;
    border: 2px solid rgb(224, 219, 219);
    border-radius: 5px;
    margin: 10px;
    background-color:rgb(240, 240, 240);
}

.imgbox-moreview{
    width: 150px;
    height: 100%;
    
}




.textbox-moreview{
    width: 200px;
    height: 100%;
   
    margin-left: 0;
}

.plcepro-h3{
    text-align: center;
}

p{
    text-align: center;
}


.proimg-moreview{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
}


.titile-moreview{

    font-size: 25px;
}

.loding-more-view{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.loding-icon-more-view{

    width: 200px;
    height: 200px;
}