



.main-report{

    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
    
}

.loding-report{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loding-icon-report{

    width: 200px;
    height: 200px;

}

